@model nAssembla.DTO.Milestone

@if (Model != null)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @Model.Title
        </div>
        <div class="panel-body">
            <p>Description: @Model.Description</p>
            <p>Created On : @Model.CreatedOn</p>
            <p>Due Date   : @Model.DueDate</p>
            <p>IsCompleted: @Model.IsCompleted</p>
        </div>
        <div class="panel-footer">
	  by: @Model.ResponsibleUser
        </div>
    </div>
}

