@model IEnumerable<nAssembla.DTO.Milestone>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Milestones</h2>
<div class="row">
    @if (Model != null)
    {
        foreach (var milestone in Model)
        {
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @milestone.Title
                    </div>
                    <div class="panel-body">
                        <p>Description: @milestone.Description</p>
                        <p>Responsible: @milestone.ResponsibleUser</p>
                        <p>Created On : @String.Format("{0:dd/MM/yyyy}", milestone.CreatedOn)</p>
                        <p>Due Date   : @String.Format("{0:dd/MM/yyyy}",milestone.DueDate)</p>
                        <p>Updated At : @String.Format("{0:dd/MM/yyyy}", milestone.UpdatedAt)</p>
                        <p>IsCompleted: @milestone.IsCompleted</p>
                    </div>
                    <div class="panel-footer">
                        <a href="#" class="btn btn-default">More Info</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
