@model IEnumerable<nAssembla.DTO.Milestone>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Milestones</h2>
<div class="row">
    @if (Model != null)
    {
        foreach (var milestone in Model)
        {
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @milestone.Title
                    </div>
                    <div class="panel-body">
                        <p>Description: @milestone.Description</p>

                        <div class="row">
                            <div class="col-md-2">
                                <p class="text-info">
                                    Responsible: @milestone.ResponsibleUser. ResponsibleUser
                                </p>
                            </div>
                            <div class="col-md-3">
                                Created On : @String.Format("{0:dd/MM/yyyy}", milestone.CreatedOn)
                            </div>
                            <div class="col-md-3">
                                Due Date   : @String.Format("{0:dd/MM/yyyy}", milestone.DueDate)
                            </div>
                            <div class="col-md-3">
                                Updated At : @String.Format("{0:dd/MM/yyyy}", milestone.UpdatedAt)
                            </div>
                            <div class="col-md-3">
                                IsCompleted: @milestone.IsCompleted
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="#" class="btn btn-default">More Info</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
