@model IEnumerable<nAssembla.DTO.Space>

@{
    ViewBag.Title = "Spaces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spaces</h2>
<div class="row">
    <div class="col-lg-12">
        @if (Model != null)
        {
            foreach (var space in Model)
            {
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>@space.Name</h3>
                    </div>
                    <div class="panel-body">
                        <p>Description    : @space.Description</p>
                        <p>DefaultShowPage: @space.DefaultShowpage</p>
                        <p>Id             : @space.Id</p>
		    <p>Created on     : @space.CreatedOn</p>
		    <p>WikiName       : @space.WikiName</p>
                        @*@foreach (var tag in space.Tags)
                        {
                            <a href="#" class="label label-success">tag</a>
                        }*@
                    </div>
                </div>
            }
        }
    </div>
</div>